<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons slot="start"> <ion-menu-button> <img src='../../assets/icon/favicon.png'> </ion-menu-button> </ion-buttons>
    </ion-buttons>
    <ion-title>
      Watch
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-list >
    <ion-item *ngFor="let item of items" >
      {{item.company}}
      <div class="item-note" slot="end">
        {{item.isRightStock}}
      </div>
      <div class="item-note" slot="end">
        {{item.currentPrice}}
      </div>
      <div class="item-note" slot="end">
        {{item.weekHigh}}/{{item.weekLow}}
      </div>
    </ion-item>
  </ion-list>
</ion-content>