<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><ion-text color="light">About </ion-text></ion-card-subtitle>
      <ion-card-title><ion-text color="light">HDFC</ion-text></ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-text color="light">
      The HDFC Bank was incorporated on August 1994 by the name of 'HDFC Bank
      Limited', with its registered office in Mumbai, India. HDFC Bank commenced
      operations as a Scheduled Commercial Bank in January 1995.
      <p>
        The Housing
        Development Finance Corporation (HDFC) was amongst the first to receive an
        'in principle' approval from the Reserve Bank of India (RBI) to set up a
        bank in the private sector, as part of the RBI's liberalization of the
        Indian Banking Industry in 1994.
      </p></ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
