<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" no-padding>
      <ion-button (click)="dismissModal()"><ion-icon name="arrow-round-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-grid id="header-content" no-padding>
      <ion-row>
        <ion-col>
          <ion-title size="small">Reliance</ion-title>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="displayDuration" [placeholder]="Duration" interface="popover" id="duration-select" class="amcharts-input">
            <ion-select-option value="1m">1 Month</ion-select-option>
            <ion-select-option value="3m">3 Months</ion-select-option>
            <ion-select-option value="6m">6 Months</ion-select-option>
            <ion-select-option value="1y">1 Year</ion-select-option>
            <ion-select-option value="3y">3 Years</ion-select-option>
            <ion-select-option value="YTD">Year To Date</ion-select-option>
            <ion-select-option value="MAX" [selected]="duration == 'MAX'">Maximum</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" id="fromfield" class="amcharts-input" style="display:none"></ion-datetime>
    <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" id="tofield" class="amcharts-input" style="display:none"></ion-datetime>
    <div id="legenddiv" style="height: 30px !important;"></div>
    <div id="chartdiv" style="width: 100%;" [style.height]="chartHeight"></div>
  </div>
</ion-content>
