<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()"><ion-icon name="arrow-round-back" color="bright"></ion-icon></ion-button>
    </ion-buttons>
    <ion-grid id="header-content">
      <ion-row>
        <ion-col>
          <ion-title padding>Reliance</ion-title>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="duration" [placeholder]="Duration" interface="popover" id="duration-select" class="amcharts-input" padding>
            <ion-select-option value="1m">1m</ion-select-option>
            <ion-select-option value="3m">3m</ion-select-option>
            <ion-select-option value="6m">6m</ion-select-option>
            <ion-select-option value="1y">1y</ion-select-option>
            <ion-select-option value="YTD">YTD</ion-select-option>
            <ion-select-option value="MAX" [selected]="duration">MAX</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container">
    <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" id="fromfield" class="amcharts-input" style="display:none"></ion-datetime>
    <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Select Date" id="tofield" class="amcharts-input" style="display:none"></ion-datetime>
    
    <div id="chartdiv" style="width: 100%;" [style.height]="chartHeight"></div>
  </div>
</ion-content>
