
<ion-content >
 <div class="dicision-wrapper">
  <div class="box">
    <div class="header">
      1. Right Stock
    </div>
    <div class="content">
      <div class="assured-bar">
        <p>10 Year X-Ray Pro</p>
        <div class="rating">
          <ion-icon name="star" class="custom-star"></ion-icon>   Very Good
        </div>
      </div>   <div class="assured-bar">
        <p>Long Term Prospect</p>
        <div class="rating">
        Very Good
        </div>
      </div>
    </div>
  </div> <div class="box style-2">
    <div class="header">
      2. Right Price
    </div>
    <div class="content">
      <div class="right-box">
        <div class="bar-box">
          <div class="cmp-box">
            <strong>CMP</strong>
            1348.05
          </div>
          <div class="bar">
            <div class="val-plus "><strong>DP</strong><span>762</span></div>
            <div class="val-nutral"><strong>MOS</strong><span>25.00%</span></div>
            <div class="val-minus"><strong>MRP</strong><span>1017</span></div>
          </div>
        </div>
        <div class="bar-links">
          <a href="#">Details</a>
          <a href="#">Price Chart</a>
        </div>
      </div>
    </div>
  </div> <div class="box">
    <div class="header">
      3. Right Time
    </div>
    <div class="content">
      <div class="time-box">
        <h4>Upside Potential: Less Than 6% CAGR#</h4>
        <p>Outlook:</p>
      </div>
    </div>
  </div>
 </div>
</ion-content>
