
<ion-content class="custom-news">
  <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Announcement under Regulation 30 (LODR)-Analyst / Investor Meet - Outcome</h2>
      <p>12 feb 2020, 10:51</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>Compliances-Reg. 39 (3) - Details of Loss of Certificate / Duplicate Certificate</h2>
      <p>13 feb 2020. 12:10</p></a>
    </ion-label>
  </ion-item> 
</ion-content>
