
<ion-content class="custom-news">
  <ion-item>
  
    <ion-label>
     <a href="#"> <h2>Reliance Industries slips despite its telecom arm adds 82,308 subscribers in December</h2>
      <p>27 Feb 2020</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>
      Reliance Industries’ telecom arm adds 82,308 subscribers in December</h2>
      <p>26 Feb 2020</p></a>
    </ion-label>
  </ion-item> <ion-item>
  
    <ion-label>
     <a href="#"> <h2>
      Reliance Industries to consolidate media, distribution businesses into Network18</h2>
      <p>18 Feb 2020</p></a>
    </ion-label>
  </ion-item>

  <ion-item>
    
    <ion-label>
    <a href="#">  <h2>
      Reliance Industries gains as its arm tops 4G download speed chart in January</h2>
      <p>14 Feb 2020</p></a>
    </ion-label>
  </ion-item> 
  
</ion-content>
