.custom-news{
    h2{
        color: #96c668;
    font-weight: 500;
    white-space: normal;    font-size: 12px;
    }
    p{
        color:#000;
        font-size: 10px;
    }
    ion-item
    {
        border-top: 1px solid #bbb;
    }
    ion-label{
        margin:2px 0;
    }
    a{
        text-decoration: none;
    }
}