.logo_pd{
    padding:0px 0px 10px 0px;
}
.profile{
    text-align: center;
    background:#f1f1f1;
    padding: 20px 0px;
}
.profile-picture {
    border-radius: 50%;
}
.menu .has-header
{
    top: 169px;
}
