<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button >
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-header" text-left>
     Dashboard
    </ion-title>
  </ion-toolbar>

</ion-header>
<ion-content> 
  <ion-grid>
    <ion-row>
      <ion-col >
        <ion-card class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/pigibank.png"/>
          
          <p>Make a Financial Plan</p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  >
        <ion-card  class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/piechart.png"/>
          
          <p>Manage your wealth</p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
  
    <ion-row>
      <ion-col >
        <ion-card  class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/chart.png"/>
          
          <p>Invest in Right Stocks</p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  >
        <ion-card  class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/fourpart.png"/>
          
          <p>Invest in Funds  Sahi for you</p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-card  class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/notebook.png"/>
          
          <p>Review your Portfolio</p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col  >
        <ion-card  class="custom-margin">
         
          <ion-card-content>
          <div class="dash-box">
            <img src="../../assets/book.png"/>
          
          <p>Learn to Invest </p>
        </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
     
    </ion-row>
  
  </ion-grid></ion-content> 