.dash-box{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    min-height: 100px;
    display: flex;
    flex-direction: column;
      img{
          max-width: 100%;
          width: auto;
          margin: 0 auto;
      }
  }.custom-header{
    color: #96C668;
}
.custom-margin{
    margin:10px;
}