

<ion-content >
<div class="assesment-wrapper">
  <div class="assesment-top">
    
  <div class="assesment-box">
    <p class="title">
      MoneyWorks4me <span>Assesment</span>
    </p>
    
     <div class="content">
      <div class="ball">Very good</div>
     </div>
    </div><div class="assesment-box">   <p class="title">
      Community Assesment</p>
    
     <div class="content">
      <div class="ball">Very good</div> 
     </div>
    </div>
  </div>
  <div class="assesment-bottom">
    <div class="assesment-box">
      <p class="title">
        Select Your Assessment of 10 Year X-Ray
      </p>
      <div class="content">
      <ion-radio-group class="custom-group">
        <div class="radio-group">
          
          <ion-radio slot="start" value="Very Good"></ion-radio>
          <div class="ball">Very good</div>
        </div>
        <div class="radio-group">
          <ion-radio slot="start"  value="SomeWhat Good"></ion-radio>    
          <div class="ball ball-yellow">SomeWhat good</div>   
        </div><div class="radio-group">
          <ion-radio slot="start"  value="Not Good"></ion-radio> 
          <div class="ball ball-red">Not good</div>          
        </div>
      </ion-radio-group>
      <div class="text-center">
        <div class="radio-group">
          <ion-button href="#"  color="dark">Save</ion-button>
        </div>
      </div>
    </div></div>
  </div>
</div>
</ion-content>
