<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button >
      </ion-menu-button>
    </ion-buttons>
    <ion-title class="custom-header" text-left>
      Reliance Industries Ltd.       
    </ion-title>
  </ion-toolbar>
<div class="current-price">

  <h3><span>1376.55</span> <span class="diff-price" ><ion-text color="danger">-14.85 (-1.07%)</ion-text></span></h3>
  <p>BSE: 500325 | NSE: RELIANCE | Refineries | Large Cap</p>

</div>
</ion-header>

<ion-content>
  <super-tabs >
    <super-tabs-toolbar scrollable-padding="false" class="custom-tabs"  color="medium" position="top" scrollable>
      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">Overview</ion-label>
      </super-tab-button>
  
      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">Decision Maker</ion-label>
      </super-tab-button>

      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">Shareholding</ion-label>
      </super-tab-button>
  
      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">Assessment</ion-label>
      </super-tab-button>

      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">Industry Screener</ion-label>
      </super-tab-button>
  
      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">News</ion-label>
      </super-tab-button>
      
      <super-tab-button class="custom-tab-btn">
        <ion-label color="light">About Company</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyOverviewPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyDecisionMakerPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyShareholdingPatternPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyMyAssessmentPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyIndustryScreenerPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyNewsPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyAboutPage"></ion-nav>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
