<ion-header>
  <ion-toolbar>
    <ion-title>Reliance Industries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="company-overview">
        <ion-label>Overview</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="company-shareholding-pattern">
        <ion-label>Shareholding Pattern</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-news">
        <ion-label>News</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="company-decision-maker">
        <ion-label>Decision Maker</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="company-my-assessment">
        <ion-label>My Assessment</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="company-about">
        <ion-label>About Company</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
