.ion-color-medium{
    background-color: #96c668;
   
}
.custom-header{
    color: #96C668;
}
.custom-margin{
    margin:10px;
}
.current-price{
    background-color: #2f2f2f;
    padding:10px;
    color: #fff;
    p{
        font-size: 12px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    h3{
        margin:0;
        font-size:24px;
        span{
            margin-left: 10px;
        }
    }
    .down{
        color: #f00;
    }
    .diff-price{
        font-size:15px;
        margin-left: 5px;
    margin-top: 2px;
    top: -3px;
    position: relative;
    }
    p{
        padding-left: 15px;
        font-size: 12px;
        color: #fff;
        margin-top: 5px;
        span{
            margin-left: 10px;
            vertical-align: top;
        }
    }
}
.custom-tab-btn{
    height: 30px;
    padding: 0;
    ion-label{
        font-size: 11px;
        font-weight: 400;
        text-transform: capitalize;
    }
}
