<ion-header>
  <ion-toolbar>
    <ion-title>Reliance Industries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <super-tabs>
    <super-tabs-toolbar color="medium" position="top" scrollable>
      <super-tab-button>
        <ion-label color="light">Overview</ion-label>
      </super-tab-button>
  
      <super-tab-button>
        <ion-label color="light">Shareholding Pattern</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-label color="light">News</ion-label>
      </super-tab-button>

      <super-tab-button>
        <ion-label color="light">Decision Maker</ion-label>
      </super-tab-button>
  
      <super-tab-button>
        <ion-label color="light">My Assessment</ion-label>
      </super-tab-button>
  
      <super-tab-button>
        <ion-label color="light">About Company</ion-label>
      </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyOverviewPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyShareholdingPatternPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyNewsPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyDecisionMakerPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyMyAssessmentPage"></ion-nav>
        </ion-content>
      </super-tab>
      <super-tab>
        <ion-content>
          <ion-nav [root]="companyAboutPage"></ion-nav>
        </ion-content>
      </super-tab>
    </super-tabs-container>
  </super-tabs>
</ion-content>
