
<ion-content padding>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary"  class="disp-btn" (click)="presentModal()">
      <ion-icon name="paper"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="overview-data">
    <h3>Overview</h3>
    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
         <span>Market Cap (Rs. Cr.)</span>
         <strong>9,37,193</strong>
          </div>
        </ion-col>
       
        <ion-col>
          <div>
            <span>Current P/E	</span>
            <strong>21.61</strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
         <span>Net Sales (Rs. Cr.)	</span>
         <strong>6,11,934</strong>
          </div>
        </ion-col>
       
        <ion-col>
          <div> 
            <span>Current P/BV	</span>
            <strong>2.25</strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
         <span>52 Week High / Low (Rs)</span>
         <strong>1617.80/1095.65</strong>
          </div>
        </ion-col>
       
        <ion-col>
          <div>
            <span>All Time High / Low (Rs) </span>
            <strong>1617.80/9.02 </strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
         <span>Volume Traded </span>
         <strong>83,541 </strong>
          </div>
        </ion-col>
       
        <ion-col>
          <div>
            <span>Equity (Rs. Cr.) </span>
            <strong>6,339.24 </strong>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
         <span>Face Value (Rs) </span>
         <strong>10 </strong>
          </div>
        </ion-col>
       
        <ion-col>
          <div>
            <span>Industry PE  </span>
            <strong>20.34 </strong>
          </div>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
