.custom-table   {
    font-size:12px;
    table {
        border: 1px solid #ccc;
        border-collapse: collapse;
        margin: 0;
        padding: 0;
        width: 100%;
        table-layout: fixed;tr {
            background-color: #f8f8f8;
            border: 1px solid #ddd;
            padding: .35em;
          }th,
           td {
            padding: .625em;
            text-align: center;
            span{
                display: block;
            }
          }th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
                background: #2f2f2f;
    color: #fff;
          }
          
      }
}