

<ion-content>
<div class="custom-table">
  <table >
    <tr>
      <th>Company Name</th>
      <th>Price</th>
      <th>Net Profit %</th>
    </tr>
    <tr>
      <td><strong>Reliance Industries Ltd </strong></td>
      <td><ion-text color="danger">-55.8 <span>(-4.03%)</span></ion-text></td>
    <td>6.85</td>
    </tr>
    <tr>
      <td><strong>Indian Oil Corp. </strong></td>
      <td><ion-text color="success">0.15 <span>(-0.14%)</span></ion-text></td>
    <td>3.4</td>
    </tr>
    <tr>
      <td><strong>BPCL</strong></td>
      <td><ion-text color="danger">-19.45 <span>(-4.68%)</span></ion-text></td>
    <td>2.5</td>
    </tr>
    <tr>
      <td><strong>HPCL</strong></td>
      <td><ion-text color="danger">-6.7<span>(-3.27%)</span></ion-text></td>
    <td>2.11</td>
    </tr>
  </table></div>
</ion-content>
